

# Piglet Wardriver config
# Lines starting with # are comments
# Format: key=value



# --- WiGLE ---
# Use "Encoded for Use Wigle Api Token"
wigleBasicToken=<EnteryourTokenHere>


# --- Home WiFi (STA) ---
homeSsid=YourSSID
homePsk=YourPSK

# --- Wardriver SoftAP ---
wardriverSsid=PigletWARDRIVE
wardriverPsk=wardrive1234

# --- GPS ---
gpsBaud=9600

# --- Scanning ---
# aggressive | powersaving
scanMode=aggressive

# --- Units ---
# kmh | mph
speedUnits=mph


# Board selection:
# auto = detect chip
# s3   = XIAO ESP32S3
# c5   = XIAO ESP32C5
# c6   = XIAO ESP32C6
# exp  = XIAO ESP32C5 with Expansion Board

board=auto

#battery Test
#Values are True or False
#Will print seconds active when on battery power
batteryTest=true